<h1>Carrito</h1>

<ul> 
  <li>Carrito ID: {{response._id}}</li>
  <li>Productos agregados: </li>
  <ul>
    {{#each response.products}}
    <li>ID: {{product._id}}</li>
    <li>Title: {{product.title}}</li>
    {{/each}}
  </ul>