<h2>CHAT</h2>
<form action="/api/messages" method="post">
    User: <input id="user" name="user" type="text">
    Message: <input id="message" name="message" type="text">
    <input type="submit" value="SEND">
</form>