<form action="/api/cookie" method="post">
    Name: <input type="text" name="name" id="name">
    Email: <input type="email" name="email" id="email">
    <input type="submit" value="Submit">
</form>
<button onclick="location.href='/api/cookie/view'">Get Cookie</button>