<h2 id="error_title">ERROR SIGNUP/LOGIN</h2>
<div id="back_buttons">
    <button id="back_button"><a href="/login">Log in</a></button>
    <button id="back_button"><a href="/signup">Sign up</a></button>
</div>